.populares {
    padding: 3rem 0rem;
}

.populares__cabecalho {
    display: flex;
    justify-content: space-between;
    border-bottom: .1rem solid #959595;
}

.populares__icone {
    margin-right: .1rem;
}

.populares__botao {
    border: transparent;
}

.populares__conteudo {
    display: flex;
    flex-wrap: wrap;
    grid-area: conteudo;
    padding: 1rem 0;
}

.populares__card {
    display: grid;
    grid-template-areas:
        "card-imagem"
        "card-corpo";
    background-color: #fdfdfd;
    grid-template-columns: 100%;
}

.populares__card:last-child {
    margin-right: 0;
}

.populares__card___imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.populares__card___corpo {
    display: grid;
    grid-area: card-corpo;
    grid-row-gap: .5rem;
    grid-template-areas:
        "card-cabecalho"
        "card-conteudo";
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.populares__card___titulo {
    color: #333333;
    font-size: 1.5rem;
}

.populares__card___data {
    color: #959595;
    font-size: .8rem;
}

.populares__card___descricao {
    text-align: justify;
}